<?xml version="1.0"?>

<launch>
    <arg name="robot_name" default="et1"/>
    <group ns="$(arg robot_name)">
	    <node name="automotive_Lines_To_Mobileye_Lanes" pkg="rviz_plugins" type="automotiveLinesToMobileyeLanes.py" output="screen">
	        <remap from="/lanes" to="/$(arg robot_name)/mobileye/lane_info"/>
	        <remap from="/lines" to="/$(arg robot_name)/mobileye/line_info"/>
	    </node>
	</group>
</launch>
