<?xml version="1.0"?>

<launch>
    <arg name="robot_name" default="et1"/>

    <node name="mobileye_lanes_to_automotive_lines" pkg="rviz_plugins" type="mobileyeLanesToAutomotiveLines.py" output="screen">
        <remap from="lanes" to="/$(arg robot_name)/io/mobileye/lane_info"/>
        <remap from="lines" to="/$(arg robot_name)/io/mobileye/line_info"/>
    </node>
</launch>
